<div style="text-align: center; margin: 0 auto; width: 50%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
	<h4>
		Dear {{ userName }}
	</h4>
	<p>
		This email has been sent to you because you filled out a contact form.
	</p>
	<p>
		<a href="{{ codeInfinityWebsite }}">Code Infinity Website</a>
	</p>

	Code Infinity
</div>